.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.bank {
  background: purple;
  width: 1000px;
  height: max-content;
  display: flex;
  flex-direction: row;
}

.sub {
  display: flex;
  flex-direction: column;
  padding: 1px;
  margin: 10px;


}

.sub2 {
  font-size: 10px;
  margin: 0px;
}

.sub3 {
  color: green;
  font-size: 21px;
  font-weight: bold;
}

.sub4 {
  padding: 10px;
  margin: 10px;
}

.sub5 {
  border-radius: 20px;
  background-color: purple;
  border-color: green;
  font-weight: bold;
  color: green;
  padding: 13px;
  margin: 13px;
}


.sub6 {
  border-radius: 20px;
  background-color: green;
  color: purple;
  font-weight: bold;
  padding: 13px;
  margin: 13px;

}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}